*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
}
hr{
    color: #ddd;
    height: 1px;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.header-section{
    background: linear-gradient(#631e3fb6, #000000c4), url(images/hero_bg.jpg);
    background-size: cover;
    min-height: 600px;
    padding: 40px 0;

}
.top-header{
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    padding-bottom: 20px;
}
.left-top-header, .right-top-header{
    width: 35%;
}
.logo-area{
    width: 30%;
    justify-content: center;
}
.logo-area h1{
    text-align: center;
}
.logo-area a{
    color: #FFFFFF;
    font-size: 32px;
}
.right-top-header ul{
    justify-content: flex-end;
}
.left-top-header ul li span{
    color: #ddd;
}
.right-top-header ul li a{
    color: #ddd;
}
.main-navigation ul{
    justify-content: center;
    padding: 10px 0;
}
.main-navigation ul li a{
    color: #ddd;
    font-size: 22px;
    border-bottom: 2px solid transparent;
}
.main-navigation .active{
    border-bottom: 2px solid #C4DB47;
    color: #C4DB47;
}
.main-navigation ul li:hover a{
    border-bottom: 2px solid #C4DB47;
    color: #C4DB47;
    transition: 0.5s;
}
/* Main Header Style Here */
.display-flex{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
}
.header-section .left-side h2{
    padding-top: 80px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
}
.header-section .left-side h1{
    font-size: 48px;
    line-height: 1.5em;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.btn a{
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.header-section .right-side img{
    padding-top: 100px;
    padding-left: 100px;
    justify-content: flex-end;
    
}
 /* About Me Section Style Here */
 .about-section{
     padding: 80px 0;
     background: #FFFFFF;
 }
 .about-section .left-side img{
     width: 100%;
 }
 .about-section .right-side{
     padding-left: 50px;
 }
 .about-section .right-side h1{
     font-size: 42px;
     padding-top: 20px;
     padding-bottom: 30px;
 }
 .about-section .right-side h2{
     color: #631E3F;
     font-size: 36px;
     padding-bottom: 20px;
 }
 .about-section .right-side p{
    color: #2c2c2c;
    font-size: 22px;
    padding-bottom:40px ;
}
.about-section .btn a{
    border: 1px solid #000000;
    color: #000000;
}
/* What Good I'm Section style */
.good-at-section{
    background: linear-gradient(#631e3fb6, #000000c4), url(images/hero_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.good-at-section h2{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    color: #FFFFFF;
}
.cart{
    background-color: #FFFFFF;
    border-left:8px solid palegreen;
    border-radius:10px ;
    margin: 20px;
    padding: 20px;
}
.cart h3{
    padding: 30px 0;
}
.cart img{
    width: 60px;
}
.cart img.css {
    width: 40px;
}
/* Service Section style */
.service-section{
    background: #FFFFFF;
    padding-bottom: 40px;
}
.service-section h2{
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
    color: #631E3F;
}
.service-section .display-flex{
    justify-content: space-around;
    flex-direction: row;
}
.service-section .cart-1, .cart-2, .cart-3, .cart-4{
    border-left: none;
    background: #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid #631e3f;
    border-bottom:8px solid #631E3F;
    max-height: 400px;
}
.cart-2, .cart-4{
    margin-top: 200px;
}
.cart-1 img, .cart-2 img, .cart-3 img, .cart-4 img{
    width: 100%;
} 
.cart-1 h3, .cart-2 h3, .cart-3 h3, .cart-4 h3{
    padding: 10px 0;
}
.cart-1 p, .cart-2 p, .cart-3 p, .cart-4 p{
    padding-bottom: 15px;
}

/* Portfolio Section Style */
.portfolio-section{
    background: linear-gradient(#631e3fb6, #000000c4), url(images/hero_bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.portfolio-section h2{
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 0;
    grid-gap: 30px;
}
.grid-1{
    background: url(images/banner-32.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: 500px;
}
.grid-2{
    background: url(images/banner-33.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.grid-3{
    background: url(images/banner-34.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.grid-1 h2{
    color: #FFFFFF;
    padding: 80px 30px;
    padding-bottom: 40px;
    font-size: 56px;
}

/* Contact Section Style */
.contact-section{
    padding-top: 40px;
    background: #2a2a2a;
}
.contact-section h2{
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
}
.copyright{
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
}
.copyright a{
    color: #631e3f;
}
.address{
    font-size: 24px;
    padding: 30px 0;
    color: #FFFFFF;
    line-height: 2em;
}
.address >i{
    font-size: 36px;
}
.contact-section span{
    font-size: 20px;
    color: #FFFFFF;
}
.contact-section .display-flex{
    flex-direction: row;
}
.contact-section .display-flex .contact-info{
    flex-grow: 1;
}
.contact-section .display-flex .contact-form{
    flex-grow: 2;
}
.contact-info .social-media{
    padding-top: 30px;
    color: #FFFFFF;
}
.contact-info .social-media ul li a{
    font-size: 24px;
    color: #631e3f;
}
.contact-form{
    padding: 0 40px;
    align-self: flex-end;
    flex-basis: auto;
    padding-bottom: 20px;
}
.contact-form .name{
    display: flex;
}
.contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.contact-form form input[type=submit]{
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    background: #631E3F;
    border: none;
    color: #FFFFFF;
}
.contact-form form input[type=submit]:hover{
    background: #FFFFFF;
    border: none;
    color: #000000;
}
.name input:first-child{
    margin-right: 10px;
}
.contact-form textarea{
    width: 100%;
    padding: 10px;
}



/* Responsive Style Here  */
@media only screen and (max-width: 600px) {
    ul{
        flex-direction: column;
    }
    .display-flex{
        flex-direction: column;
    }
    .header-section .display-flex{
        flex-direction: column-reverse;
    }
    .top-header{
        flex-direction: column;    
    }
    .header-section .left-side h1{
        font-size: 32px;
    }
    .logo-area{
        width: 100%;
    }
    .left-top-header, .right-top-header{
        display: none;
    }
    .header-section .right-side img{
        padding-top: 100px;
        width: 100%;
        padding-left: 0px;
        justify-content: flex-start;   
    }
    .main-navigation ul li a{
        font-size: 12px;
        border-bottom: 2px solid transparent;
    }
    .main-navigation .active{
        border-bottom: 2px solid #C4DB47;
        color: #C4DB47;
    }
    .main-navigation ul li:hover a{
        border-bottom: 2px solid #C4DB47;
        color: #C4DB47;
        transition: 0.5s;
    }
    .service-section .display-flex{
        flex-direction: column;
    }
    .cart-2, .cart-4{
        margin-top: 20px;
    }
    .gallery{
        display: flex;
        flex-direction: column;
    }
    .contact-section .display-flex{
        flex-direction: column;
    }
    .contact-form{
        padding: 0;
    }
    .contact-form form input[type=submit]{
        width: 100%;
        margin: 10px 0;
    }
    .copyright span{
        font-size: 12px;
    }
    .contact-section .social-media{
        text-align: center;
    }
    .contact-section .social-media ul{
        flex-direction: row;
        justify-content: center;
    }
    .address{
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        color: #FFFFFF;
        line-height: 2em;
    }
    .address >i{
        font-size: 18px;
    }
    .contact-section .contact-info span{
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        display: block;
    }
}

    